################################
## White list based gitignore ##
################################

# forbidden
*
.*

node_modules/
**/node_modules/

# allowed
!.git*
!make
!Makefile
!assets
!assets/**
!src
!src/**
!public
!public/**
!*.md
!*.json
!*.yaml
!.gitea
!.gitea/**
!.husky
!.husky/**
!commitlint.config.js
!doc
!doc/**
!latex
!latex/**

# forbidden anywhere
.DS_Store
**/.DS_Store
Zone.identifier
**/Zone.identifier
package-lock.json
package.json
